.section-heading{

max-width:700px;

margin-bottom:70px;

}

.section-heading.center{

margin-inline:auto;

text-align:center;

}

.section-heading span{

display:inline-block;

margin-bottom:15px;

color:var(--primary);

font-weight:600;

}

.section-heading h2{

font-size:clamp(36px,5vw,55px);

line-height:1.2;

margin-bottom:20px;

}

.section-heading p{

color:var(--text-light);

font-size:18px;

line-height:1.8;

}