.container{

width:min(var(--container),90%);

margin:auto;

}

.section{

padding:120px 0;

}

.section-title{

font-size:48px;

font-weight:700;

margin-bottom:20px;

}

.section-subtitle{

color:var(--primary);

font-weight:600;

margin-bottom:12px;

}

.text-center{

text-align:center;

}